/***** Grid ****/
#main{
  display:grid;
  grid-template-columns:minmax(80px, 1fr);
  grid-auto-rows: minmax(60px, auto);
  grid-gap: 10px;
  height:100vh;
  grid-template-areas:
  "header"
  "nav"
  "main-header"
  "alert"
  "traffic"
  "daily"
  "mobile-user"
  "social"
  "new-members"
  "message"
  "recent"
  "settings"
}

header{
  grid-area: header;
}

nav{
  grid-area: nav;
}

#dashboard-container{
  grid-area: main-header;
}


#alert-container{
  grid-area:alert;
}

#traffic--container{
  grid-area: traffic;
}

#daily-container{
  grid-area:daily;
}

#mobile-users-continer{
  grid-area: mobile-user;
}

#social-container-container{
  grid-area:social;
}

#new-members-container{
  grid-area:new-members;
}
#recent-activity-container{
  grid-area:recent;
}

#message-container{
  grid-area:message;
}


#settings-container{
  grid-area:settings;
}

@media only screen and (min-width:780px){
  #main{
    grid-template-columns: 80px 2fr repeat(2, 1fr);
    grid-template-areas:
    "header header header header"
    "nav main-header main-header main-header"
    "nav alert alert alert "
    "nav traffic traffic traffic"
    "nav daily mobile-user mobile-user"
    "nav social social social"
    "nav new-members recent recent"
    "nav message settings settings";
    grid-template-rows: 70px minmax(30px, auto) 35px;
  }
}
