/**************************************************************************************************************
********************************************* HEADER-MOBILE STYLES ********************************************
**************************************************************************************************************/
header{

  display:flex;
  align-items: center;
  margin-bottom:-10px;
}

header > img:nth-of-type(1){
  margin-right:auto;
  margin-left:25px;
}

.notification{
  display:flex;
  margin-right: 20px;
  height:75%;
}


header .notification .bell img{
  width:30px;
}

.profile-image img{
  width:40px;
  height:40px;
  align-self: center;
  border-radius: 20px;
}

.bell{
padding-right:30px;
border-right: 2px solid #5d61bf;
}

.profile-image{
  padding-left:30px;
}

.bell,
.profile-image{
  display:flex;
  align-content: center;
}

.profile-image::after{
  display:none;
}

/**************************************************************************************************************
********************************************* DASHBOARD HEADING-MOBILE STYLES ********************************************
**************************************************************************************************************/


#dashboard-container > ul{
  display:flex;
  list-style: none;
  flex-direction:column;
  flex:1;
  justify-content: space-evenly;
  border:none;
}

.main-header-search input{
  width:100%;
  border-radius:5px;
  border: 1px solid gray;
  padding:5px;
}

.main-header-search{
  border:1px solid #DCDCDC;
}

/**************************************************************************************************************
********************************************* SIDE-NAV-MOBILE STYLES ********************************************
**************************************************************************************************************/

/** svg container **/
nav{
  display:flex;
}
.sidenav-icons {
  display:flex;
  flex:1;
  justify-content:space-around;
}

/** svg icons **/

.icon-container{
  display: flex;
  align-content: center;
  justify-content: center;
}

.sidenav-icons .icon-container svg{
  width:40px;
}


/**************************************************************************************************************
********************************************* ALERT ********************************************
**************************************************************************************************************/
#alert-container{
  padding: 0;
}

.alert-inside-container{
    transition:all 1s ease-out;
}

#alert-container .alert-inside-container{
  display:flex;
  flex:1;
}

#alert-container > .alert-inside-container > p{
  margin-right: auto;
  display:flex;
  flex-direction: column;
  flex:auto;
  color:#fff;
}

.close-check-alert{
  flex-basis: 35px;
  display:flex;
  flex-direction: column;
}

.close-check-alert svg {
  width:20px;
  height:20px;
  align-self: center;
}

.close-check-alert div {
  flex:1;
}


#alert-container > .alert-inside-container > p > strong,
#alert-container > .alert-inside-container > p > span{
  align-self: center;
}

#alert-container > .alert-inside-container > p{
  justify-content: center;
}


.close-check-alert > div{
  background-color:#008000;
}



.alerticon{
  fill:#fff;
}

.alert-bell-text{
  display: none;
}

.checkedalertText{
  color:#fff;
  padding-right:25px;
}

.alert-inside-container{
  background-color:#7377bf;
}




/**************************************************************************************************************
********************************************* CURSOR STYLES ***************************************************
**************************************************************************************************************/

#alertclosesvg,
.bell,
#alertchecksvg{
  cursor: pointer;
}

/**************************************************************************************************************
********************************************* TRAFFIC ***************************************************
**************************************************************************************************************/


#traffic--container{
  flex-direction:column;
}

.traffic-nav{
  display:flex;
  list-style: none;
  justify-content: space-between;
}

.traffic-nav li {
  padding:10px;
  margin-top:-10px;
  transition: .5s all ease-in-out;
  transition-property: color, background-color;
  border-radius: 20px;
}

.traffic-nav li:hover{
background-color: #4d4c72;
color:#fff;
}

.widget-container-full, /** daily and mobile users properties added here for DRY code **/
.widget-container-half {
  position: relative;
  height:200px;
  width:100%;
}





/**************************************************************************************************************
********************************************* MQ - TABLET ********************************************
**************************************************************************************************************/

@media only screen and (min-width: 780px){

  /*** HEADER STYLES ***/
  .profile-image::after{
    content: "Victoria Chambers";
    padding-left:10px;
    margin: auto 0;
    font-size:15px;
    color:#fff;
    display: block;
  }

/*** SIDENAV ICONS ***/

.sidenav-icons{
  flex-direction: column;
  justify-content: flex-start;
}

.icon-container{
  justify-content: center;
}

.sidenav-icons .icon-container svg{
  height:100px;
}

/*** ALERT MESSAGE ***/



.close-check-alert{
  flex-direction: row;
  flex-basis: 70px;
}
#alert-container .alert-inside-container p {
  flex-direction: row;
  padding:0 15px;
}

#alert-container .alert-inside-container{
  border-radius:5px;
  width:100%;
}

#alert-container{
  background-color: #fff;
  padding:0 25px 0 25px;
}

.alert-bell-text{
display: block;
}
/*** message telling the user the alert message is already displaying ***/
.bell{
  align-items: center;
}

.bell p {
  order:-1;
  transition: all 1s ease-out;
  opacity:0;
  position: absolute;
}

.checkedalertText{
  color:initial;
  padding-right:0;
}



/**** DASHBOARD HEADING-MOBILE STYLES ****/

#dashboard-container > ul{
flex-direction: row;
justify-content: flex-start;
padding:0;
}

#dashboard-container ul li{
  display:flex;
}

#dashboard-container ul li:nth-of-type(1){
  margin-right:auto;
  align-items: center;
}


#dashboard-container ul li:nth-of-type(1) h2{
  text-align: left;
  margin: auto 0;
}

#dashboard-container ul li:nth-of-type(1){
  flex-basis:140px;
}

.main-header-search{
  display:flex;
  align-items: center;
  justify-content: flex-end;
  flex:9;
  padding-right:25px;
  background-color:#fbfbfb;
}


.main-header-search input{
  width:300px;
}

#dashboard-container{
  padding-right:0;
}


/**** TRAFFIC CHART.JS ****/

.traffic-nav li {
  margin-top:0;
}

.widget-container-full{
  height:400px;
}

.traffic-header{
  display:flex;
  align-items: center;

}

.traffic-header > h3{
margin-right: auto;
}
.traffic-nav{
  flex:0.2;
}

.trafficNavwrap{
  margin:15px 0;
}


}

/**************************************************************************************************************
********************************************* MQ - DESKTOP ********************************************
**************************************************************************************************************/

@media only screen and (min-width:908px){

}
