/**************************************************************************************************************
********************************************* HEADER-MOBILE STYLES ********************************************
**************************************************************************************************************/
header{

  display:flex;
  align-items: center;
  margin-bottom:0;
}

header > img:nth-of-type(1){
  margin-right:auto;
  margin-left:25px;
}

.notification{
  display:flex;
  margin-right: 20px;
  height:75%;
}


header .notification .bell img{
  width:30px;
}

.profile-image img{
  height:40px;
  align-self: center;
  border-radius: 20px;
}

.bell{
padding-right:30px;
border-right: 2px solid #5d61bf;
}

.profile-image{
  padding-left:30px;
}

.bell,
.profile-image{
  display:flex;
  align-content: center;
}

.profile-image::after{
  display:none;
}

/**************************************************************************************************************
********************************************* DASHBOARD HEADING-MOBILE STYLES ********************************************
**************************************************************************************************************/


#dashboard-container > ul{
  display:flex;
  list-style: none;
  flex-direction:column;
  flex:1;
  justify-content: space-evenly;
  border:none;
}

.main-header-search input{
  width:100%;
  border-radius:5px;
  border: 1px solid gray;
  padding:5px;
}

.main-header-search{
  border:1px solid #DCDCDC;
}

#dashboard-container{
  padding: 40px 25px 0 25px;
}

/**************************************************************************************************************
********************************************* SIDE-NAV-MOBILE STYLES ********************************************
**************************************************************************************************************/

/** svg container **/
nav{
  display:flex;
}
.sidenav-icons {
  display:flex;
  flex:1;
  justify-content:space-around;
}

/** svg icons **/

.icon-container{
  display: flex;
  align-content: center;
  justify-content: center;
}

.icon-container > svg{
  width:40px;
}

.social .icon-container > svg{
  width:80px;
  height:80px;
  padding:15px;
  background-color:#7377bf;
  border-radius: 40px;
}


/**************************************************************************************************************
********************************************* ALERT ********************************************
**************************************************************************************************************/
#alert-container{
  padding: 0;
}

.alert-inside-container{
    transition:all 1s ease-out;
}

#alert-container .alert-inside-container{
  display:flex;
  flex:1;
}

#alert-container > .alert-inside-container > p{
  margin-right: auto;
  display:flex;
  flex-direction: column;
  flex:auto;
  color:#fff;
}

.close-check-alert{
  flex-basis: 35px;
  display:flex;
  flex-direction: column;
}

.close-check-alert svg {
  width:20px;
  height:20px;
  align-self: center;
}

.close-check-alert div {
  flex:1;
}


#alert-container > .alert-inside-container > p > strong,
#alert-container > .alert-inside-container > p > span{
  align-self: center;
}

#alert-container > .alert-inside-container > p{
  justify-content: center;
}


.close-check-alert > div{
  background-color:#5fa66d;
}



.alerticon{
  fill:#fff;
}

.alert-bell-text{
  display: none;
}

.checkedalertText{
  color:#fff;
  padding-right:25px;
}

.alert-inside-container{
  background-color:#7377bf;
}


/** Mobile alert message will onlydisplay. Tablet and Desktop will be disabled. **/

.mobileAlert{
  display:block;
}

.tabAlert{
  display:none;
}

.deskAlert{
  display:none;
}

/**************************************************************************************************************
********************************************* CURSOR STYLES ***************************************************
**************************************************************************************************************/

#alertclosesvg,
.bell,
#alertchecksvg{
  cursor: pointer;
}

/**************************************************************************************************************
********************************************* TRAFFIC / DAILY USERS / MOBILE USERS ***************************************************
**************************************************************************************************************/


#traffic--container{
  flex-direction:column;
}

.traffic-nav{
  display:flex;
  list-style: none;
  justify-content: space-between;
}

.traffic-nav li {
  padding:10px;
  margin-top:-10px;
  transition: .5s all ease-in-out;
  transition-property: color, background-color;
  border-radius: 20px;
}

.traffic-nav li:hover{
background-color: #5fa66d;
color:#fff;
}

.widget-container-full,
.widget-container-half {
  position: relative;
  height:400px;
  width:100%;
}

.widget-container-half{
  align-self: center;
}

#mobile-users-container .widget-container-half{
  width: 400px;
}



/**************************************************************************************************************
********************************************* SOCIAL ***************************************************
**************************************************************************************************************/


.social{
  background-color: #fbfbfb;
  margin-bottom:20px;
  height:180px;
  justify-content: center;
  border: 1px solid grey;
}

.socialFill{
  fill:#fff;
}

.social-text h2 {
  color:#7377bf;
}

.social-image{
  margin-bottom:8px;
}

.social-text h2{
  margin-bottom:8px;
}

.social-text p{
  font-size:30px;
}

/**************************************************************************************************************
********************************************* NEW MEMBERS ********************************************
**************************************************************************************************************/

.members-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom:30px;
}

.members-container > img {
  padding:0;
  border-radius: 70px;
  width:60px;
}

.member-text{
  margin-top:10px;
}

.member-text a{
  text-decoration: none;
  color:#7377bf;
}

/**************************************************************************************************************
********************************************* FORM ********************************************
**************************************************************************************************************/

form{
  display:flex;
  flex-direction: column;
}


form > input,
form textarea,
form button,
select,
#save,
#Cancel
{
  background-color: #fbfbfb;
  border:1px solid grey;
  margin-bottom:10px;
  border-radius: 5px;
}

form > input{
  padding:10px;
}

form textarea{
  padding: 10px 0 60px 10px;
}

form textarea::placeholder,
form input::placeholder,
form button{
  font-family: 'Raleway', sans-serif;

}

form button,
#save,
#Cancel{
  background-color:#7377bf;
  padding:10px;
  color:#fff;
  font-weight:600;
  font-size: 14px;
  cursor:pointer;
  border:none;
}

form textarea::placeholder{
  font-size: 13px;
}

select{
  padding:10px;
  margin-bottom:30px;
}

.settings-buttton{
  display:flex;
}

#save,
#Cancel{
flex:1;
padding:10px;
}

#save{
  margin-right:10px;
}

.settings-buttton #Cancel{
  background-color: grey;
}

/**************************************************************************************************************
********************************************* RECENT ACTIVITY ********************************************
**************************************************************************************************************/

#recent-activity-container .members-container .member-text p:nth-of-type(2) {
  font-weight:600;
}



/**************************************************************************************************************
********************************************* SETTINGS*******************************************
**************************************************************************************************************/



/*** SETTINGS ***/

#toggle-container .switch-light{
  display:flex;
  margin-bottom:30px;
  flex-direction: column;
}

#toggle-container .switch-light strong{
  margin-bottom:5px;
}

select{
  width:100%;
}

/**************************************************************************************************************
********************************************* MQ - TABLET ********************************************
**************************************************************************************************************/

@media only screen and (min-width: 780px){

  /*** HEADER STYLES ***/
  .profile-image::after{
    content: "Victoria Chambers";
    padding-left:10px;
    margin: auto 0;
    font-size:15px;
    color:#fff;
    display: block;
  }

/*** SIDENAV ICONS ***/

.sidenav-icons{
  flex-direction: column;
  justify-content: flex-start;
}

.icon-container{
  justify-content: center;
}

.sidenav-icons .icon-container svg{
  height:100px;
}

/*** ALERT MESSAGE ***/



.close-check-alert{
  flex-direction: row;
  flex-basis: 70px;
}
#alert-container .alert-inside-container p {
  flex-direction: row;
  padding:0 15px;
}

#alert-container .alert-inside-container{
  border-radius:5px;
  width:100%;
}

#alert-container{
  background-color: #fff;
  padding:0 25px 0 25px;
}

.alert-bell-text{
display: block;
}

/*** message telling the user the alert message is already displaying ***/
.bell{
  align-items: center;
}

.bell p {
  order:-1;
  transition: all 1s ease-out;
  opacity:0;
  position: absolute;
}

.checkedalertText{
  color:initial;
  padding-right:0;
}

/** Tablet alert message will onlydisplay. Tablet and Desktop will be disabled. **/

.mobileAlert{
  display:none;
}

.tabAlert{
  display:block;
}

.deskAlert{
  display:none;
}



/**** DASHBOARD HEADING-MOBILE STYLES ****/

#dashboard-container > ul{
flex-direction: row;
justify-content: flex-start;
padding:0;
}

#dashboard-container ul li{
  display:flex;
}

#dashboard-container ul li:nth-of-type(1){
  margin-right:auto;
  align-items: center;
}


#dashboard-container ul li:nth-of-type(1) h2{
  text-align: left;
  margin: auto 0;
}

#dashboard-container ul li:nth-of-type(1){
  flex-basis:140px;
}

.main-header-search{
  display:flex;
  align-items: center;
  justify-content: flex-end;
  flex:9;
  padding-right:25px;
  background-color:#fbfbfb;
}


.main-header-search input{
  width:300px;
}

#dashboard-container{
  padding: 0 0 0 25px;
}



/**** TRAFFIC CHART.JS ****/

.traffic-nav li {
  margin-top:0;
}


.traffic-header{
  display:flex;
  align-items: center;

}

.traffic-header > h3{
margin-right: auto;
}
.traffic-nav{
  flex:0.2;
}

.trafficNavwrap{
  margin:15px 0;
}

/** Social **/

.main-social-container{
  display:flex;
  flex-direction: row;
}
.social{
  flex:1;
}

.main-social-container > div:nth-of-type(2){
  margin: 0 15px;
}

/*** Message users ***/

form{
  flex:1;
}

form textarea{
  margin-bottom: auto;
}


/**************************************************************************************************************
********************************************* MQ - DESKTOP ********************************************
**************************************************************************************************************/

@media only screen and (min-width:1024px){


  form textarea{
    padding: 10px 0 90px 10px;
  }


}


@media only screen and (min-width:1350px){

  /** new members **/

  .members-container{
      flex-direction: row;
  }


  .member-text{
    display:flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 auto 0 20px;
  }




}
